.chart-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

/* Chart.js container styling */
.chart-wrapper canvas {
  max-height: 100% !important;
}

@media (max-width: 768px) {
  .chart-wrapper {
    height: 100%;
  }
}
